*,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;

  position: absolute;
}

.jumbotron {
  width: 100%;
  height: 400px;

  background-image: url(../CSS/jumbrotron.jpg);

  position: relative;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;

  width: 80%;
  position: relative;
  left: 10%;

  border: 2px solid black;

  background-color: white;
}

.right {
  display: flex;
}

.right img {
  width: 100px;
  height: 100%;
}

.idaninput {
  display: flex;

  width: 300px;
}

.right i {
  padding: 10px 5px 15px 10px;

  margin-top: 10%;
}

.right input {
  position: absolute;
  bottom: 30%;

  width: 150px;

  border: none;

  padding: 2px;
}

.left ul {
  display: flex;

  list-style-type: none;
}

.left ul li {
  padding: 10px;
}

.left ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* END OF NAVBAR */

/* KAKI */
.kaki {
  position: absolute;
  top: 330%;

  width: 99.7%;
  height: 25%;

  border: 3px solid black;
  background-color: crimson;
  color: white;
  display: flex;
}

.kiris {
  display: flex;
  padding: 10px;

  margin-top: 33px;

  margin-bottom: 17px;
}

.kiris span {
  padding: 5px;
}

.kiris p {
  padding: 5px;
}

.kiris * {
  font-size: 20px;
}

.kanans {
  padding: 10px;

  margin-top: 35px;

  margin-bottom: 17px;

  margin-left: 960px;
}
/* END OF KAKI */

/* MenuTipe */
.menuTipe {
  height: 0;
  width: auto;

  position: absolute;
  left: 50%;

  overflow: hidden;

  transition: height 2s;

  background-color: black;
}
.muncul {
  height: 90px;
}

.menuTipe li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

.menuTipe li a {
  text-decoration: none;
  font-size: 25px;
}

/* LAKI */
.laki {
  background-color: rgb(255, 255, 255);
}

/* LAKI */
/* MenuTipe */

/* MEDIA */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
    left: 0%;
    right: 0%;

    background-color: whitesmoke;
  }

  .left ul {
    display: none;
  }

  .kaki {
    top: 470%;
  }

  .kiris * {
    font-size: 15px;
  }

  .kiris {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .kiris p,
  .kiris span {
    padding: 2px;
  }
}

@media (min-width: 992px) {
  .hamburger-menu {
    display: none;
  }
  .menu-dropdown {
    display: none;
  }
  .potrait {
    display: none;
  }
}
